.text {
    color: white;
    font-family: "Montserrat";
    margin: 50px 50px;
    text-align: center;
}

.bodytext {
    color: black;
    font-family: "Montserrat";
    margin: 50px 50px;
    font-size: 30px;
}

.listContainer {
    background-color: #c9daf8;
    margin: 50px 50px;
    padding: 50px 50px;
    border-radius: 25px;
}

.table-flex {
    justify-content: center;
}

